accelerate @ file:///dev/shm/branfosj-admin/build-2022a/Transformers/4.24.0/foss-2022a-CUDA-11.7.0/accelerate/accelerate-0.19.0
accumulation-tree==0.6.2
aiobotocore @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/aiobotocore/aiobotocore-2.3.4
aiohttp @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/aiohttp/aiohttp-3.8.3
aiohttp-jinja2 @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/aiohttpjinja2/aiohttp-jinja2-1.5
aiohttp-session @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/aiohttpsession/aiohttp-session-2.12.0
aioitertools @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/aioitertools/aioitertools-0.11.0
aioredis @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/aioredis/aioredis-2.0.1
aiosignal @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/aiosignal/aiosignal-1.3.1
alabaster @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/alabaster/alabaster-0.7.12
antlr4-python3-runtime @ file:///dev/shm/branfosj-admin/build-2022a/Hydra/1.3.2/GCCcore-11.3.0/antlr4python3runtime/antlr4-python3-runtime-4.9
anyio @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/anyio/anyio-3.6.2
appdirs @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/appdirs/appdirs-1.4.4
arrow @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/arrow/arrow-1.2.3
asn1crypto @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/asn1crypto/asn1crypto-1.5.1
async-timeout @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/asynctimeout/async-timeout-4.0.2
atomicwrites @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/atomicwrites/atomicwrites-1.4.0
attrs @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/attrs/attrs-21.4.0
Babel @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/Babel/Babel-2.10.1
backports.entry-points-selectable @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/backportsentry_points_selectable/backports.entry_points_selectable-1.1.1
backports.functools-lru-cache @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/backportsfunctools_lru_cache/backports.functools_lru_cache-1.6.4
bcrypt @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/bcrypt/bcrypt-3.2.2
beautifulsoup4 @ file:///dev/shm/branfosj-admin/build-2022a/BeautifulSoup/4.10.0/GCCcore-11.3.0/BeautifulSoup/beautifulsoup4-4.10.0
beniget @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/beniget/beniget-0.4.1
bitstring @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/bitstring/bitstring-3.1.9
blessed @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/blessed/blessed-1.20.0
blist @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/blist/blist-1.3.6
botocore @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/botocore/botocore-1.24.21
Bottleneck @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/Bottleneck/Bottleneck-1.3.4
CacheControl @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/CacheControl/CacheControl-0.12.11
cachy @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/cachy/cachy-0.3.0
certifi @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/certifi/certifi-2021.10.8
cffi @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/cffi/cffi-1.15.0
chardet @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/chardet/chardet-4.0.0
charset-normalizer @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/charsetnormalizer/charset-normalizer-2.0.12
cleo @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/cleo-1.0.0a5-py3-none-any.whl
click @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/click/click-8.1.3
clikit @ file:///rds/projects/b/branfosj-bear-apps/sources/p/Python/extensions/clikit-0.6.2-py2.py3-none-any.whl
colorama @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/colorama/colorama-0.4.4
commonmark @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/commonmark/commonmark-0.9.1
connectorx @ file:///rds/projects/b/branfosj-bear-apps/sources/p/polars/extensions/connectorx-0.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
crashtest @ file:///rds/projects/b/branfosj-bear-apps/sources/p/Python/extensions/crashtest-0.3.1-py3-none-any.whl
croniter @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/croniter/croniter-1.3.8
cryptography @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/cryptography/cryptography-37.0.1
cycler @ file:///dev/shm/branfosj-admin/build-2022a/matplotlib/3.5.2/foss-2022a/Cycler/cycler-0.11.0
Cython @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/Cython/Cython-0.29.28
deap @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/deap/deap-1.3.1
decorator @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/decorator/decorator-5.1.1
deepdiff @ file:///dev/shm/branfosj-admin/build-2022a/deepdiff/5.8.1/GCCcore-11.3.0/deepdiff/deepdiff-5.8.1
deltalake @ file:///rds/projects/b/branfosj-bear-apps/sources/p/polars/extensions/deltalake-0.9.0-1-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
distlib @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/distlib/distlib-0.3.4
docopt @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/docopt/docopt-0.6.2
docutils @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/docutils/docutils-0.17.1
dulwich @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/dulwich/dulwich-0.20.50
ecdsa @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/ecdsa/ecdsa-0.17.0
ecos==2.0.13
editables @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/editables/editables-0.3
expecttest @ file:///dev/shm/branfosj-admin/build-2022a/expecttest/0.1.3/GCCcore-11.3.0/expecttest-0.1.3
fastapi @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/fastapi/fastapi-0.88.0
filelock @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/filelock/filelock-3.6.0
flit @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/flit/flit-3.7.1
flit_core @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/flitcore/flit_core-3.7.1
fonttools @ file:///dev/shm/branfosj-admin/build-2022a/matplotlib/3.5.2/foss-2022a/fonttools/fonttools-4.34.0
frozenlist @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/frozenlist/frozenlist-1.3.3
fsspec @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/fsspec/fsspec-2022.7.1
future @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/future/future-0.18.2
gast @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/gast/gast-0.5.3
glob2 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/glob2/glob2-0.7
hatch-vcs @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/hatch_vcs/hatch_vcs-0.2.0
hatchling @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/hatchling/hatchling-1.11.1
hiredis @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/hiredis/hiredis-2.0.0
html5lib @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/html5lib/html5lib-1.1
huggingface-hub @ file:///dev/shm/branfosj-admin/build-2022a/Transformers/4.24.0/foss-2022a-CUDA-11.7.0/huggingfacehub/huggingface_hub-0.14.1
hydra-core @ file:///dev/shm/branfosj-admin/build-2022a/Hydra/1.3.2/GCCcore-11.3.0/hydra/hydra-1.3.2
idna @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/idna/idna-3.3
imagesize @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/imagesize/imagesize-1.3.0
importlib-metadata @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/importlib_metadata/importlib_metadata-4.11.3
importlib-resources @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/importlib_resources/importlib_resources-5.7.1
iniconfig @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/iniconfig/iniconfig-1.1.1
inquirer @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/inquirer/inquirer-3.1.2
intervaltree @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/intervaltree/intervaltree-3.1.0
intreehooks @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/intreehooks/intreehooks-1.0
ipaddress @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/ipaddress/ipaddress-1.0.23
itsdangerous @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/itsdangerous/itsdangerous-2.1.2
jeepney @ file:///rds/projects/b/branfosj-bear-apps/sources/p/Python/extensions/jeepney-0.8.0-py3-none-any.whl
Jinja2 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/Jinja2/Jinja2-3.1.2
jmespath @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/jmespath/jmespath-1.0.1
joblib==1.3.2
jsonpickle @ file:///dev/shm/branfosj-admin/build-2022a/deepdiff/5.8.1/GCCcore-11.3.0/jsonpickle/jsonpickle-2.2.0
jsonschema @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/jsonschema-4.17.0-py3-none-any.whl
keyring @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/keyring/keyring-23.5.0
keyrings.alt @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/keyringsalt/keyrings.alt-4.1.0
kiwisolver @ file:///dev/shm/branfosj-admin/build-2022a/matplotlib/3.5.2/foss-2022a/kiwisolver/kiwisolver-1.4.3
liac-arff @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/liacarff/liac-arff-2.5.0
lightning-cloud @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/lightning_cloud/lightning_cloud-0.5.30
lightning-utilities @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/lightningutilities/lightning-utilities-0.6.0.post0
lockfile @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/lockfile/lockfile-0.12.2
MarkupSafe @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/MarkupSafe/MarkupSafe-2.1.1
matplotlib @ file:///dev/shm/branfosj-admin/build-2022a/matplotlib/3.5.2/foss-2022a/matplotlib/matplotlib-3.5.2
maturin @ file:///dev/shm/branfosj-admin/build-2022a/polars/0.17.12/foss-2022a/maturin/maturin-0.15.1
mock @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/mock/mock-4.0.3
more-itertools @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/moreitertools/more-itertools-8.12.0
mpi4py @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/mpi4py/mpi4py-3.1.3
mpmath @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/mpmath/mpmath-1.2.1
msgpack @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/msgpack/msgpack-1.0.3
multidict @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/multidict/multidict-6.0.2
netaddr @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/netaddr/netaddr-0.8.0
netifaces @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/netifaces/netifaces-0.11.0
numexpr @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/numexpr/numexpr-2.8.1
numpy @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/numpy/numpy-1.22.3
omegaconf @ file:///dev/shm/branfosj-admin/build-2022a/Hydra/1.3.2/GCCcore-11.3.0/omegaconf/omegaconf-2.3.0
ordered-set @ file:///dev/shm/branfosj-admin/build-2022a/deepdiff/5.8.1/GCCcore-11.3.0/orderedset/ordered-set-4.1.0
osqp==0.6.5
packaging @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/packaging/packaging-21.3
pandas @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/pandas/pandas-1.4.2
paramiko @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/paramiko/paramiko-2.10.4
pastel @ file:///rds/projects/b/branfosj-bear-apps/sources/p/Python/extensions/pastel-0.2.1-py2.py3-none-any.whl
pathlib2 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pathlib2/pathlib2-2.3.7.post1
pathspec @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/pathspec/pathspec-0.10.1
pbr @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pbr/pbr-5.8.1
pexpect @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pexpect/pexpect-4.8.0
Pillow @ file:///dev/shm/branfosj-admin/build-2022a/Pillow/9.1.1/GCCcore-11.3.0/Pillow-9.1.1
pkginfo @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pkginfo/pkginfo-1.8.2
platformdirs @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/platformdirs-2.5.3-py3-none-any.whl
pluggy @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pluggy/pluggy-1.0.0
ply @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/ply/ply-3.11
poetry @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/poetry-1.2.2-py3-none-any.whl
poetry-core @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/poetry_core-1.3.2-py3-none-any.whl
poetry-plugin-export @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/poetry_plugin_export-1.2.0-py3-none-any.whl
polars @ file:///dev/shm/branfosj-admin/build-2022a/polars/0.17.12/foss-2022a/polars/polars-0.17.12
protobuf @ file:///dev/shm/branfosj-admin/build-2022a/protobufpython/3.19.4/GCCcore-11.3.0/protobuf-3.19.4
psutil @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/psutil/psutil-5.9.0
ptyprocess @ file:///rds/projects/b/branfosj-bear-apps/sources/p/Python/extensions/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/py/py-1.11.0
py-expression-eval @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/py_expression_eval/py_expression_eval-0.3.14
pyarrow @ file:///dev/shm/branfosj-admin/build-2022a/Arrow/8.0.0/foss-2022a/apache-arrow-8.0.0/python
pyasn1 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pyasn1/pyasn1-0.4.8
pybind11 @ file:///dev/shm/branfosj-admin/build-2022a/pybind11/2.9.2/GCCcore-11.3.0/pybind11-2.9.2
pycparser @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pycparser/pycparser-2.21
pycrypto @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pycrypto/pycrypto-2.6.1
pydantic @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/pydantic/pydantic-1.10.5
Pygments @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/Pygments/Pygments-2.12.0
PyJWT @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/PyJWT/PyJWT-2.6.0
pylev @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pylev/pylev-1.4.0
PyNaCl @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/PyNaCl/PyNaCl-1.5.0
pyparsing @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pyparsing/pyparsing-3.0.8
pyrsistent @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pyrsistent/pyrsistent-0.18.1
pytest @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pytest/pytest-7.1.2
python-dateutil @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pythondateutil/python-dateutil-2.8.2
python-editor @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/pythoneditor/python-editor-1.0.4
pythran @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/pythran/pythran-0.11.0
pytoml @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pytoml/pytoml-0.1.21
pytorch-lightning @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/pytorchlightning/pytorch-lightning-1.9.3
pytz @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/pytz/pytz-2022.1
pyudorandom==1.0.0
PyYAML @ file:///dev/shm/branfosj-admin/build-2022a/PyYAML/6.0/GCCcore-11.3.0/PyYAML-6.0
qdldl==0.1.7.post0
readchar @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/readchar/readchar-4.0.3
regex @ file:///dev/shm/branfosj-admin/build-2022a/Transformers/4.24.0/foss-2022a-CUDA-11.7.0/regex/regex-2023.5.5
requests @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/requests/requests-2.27.1
requests-toolbelt @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/requeststoolbelt/requests-toolbelt-0.9.1
rich @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/rich/rich-13.0.1
s3fs @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/s3fs/s3fs-2022.7.1
scandir @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/scandir/scandir-1.10.0
scikit-learn @ file:///dev/shm/branfosj-admin/build-2022a/scikitlearn/1.1.2/foss-2022a/scikitlearn/scikit-learn-1.1.2
scikit-survival==0.22.2
SciPy @ file:///dev/shm/branfosj-admin/build-2022a/SciPybundle/2022.05/foss-2022a/scipy/scipy-1.8.1
SecretStorage @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/SecretStorage/SecretStorage-3.3.2
semantic-version @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/semantic_version/semantic_version-2.9.0
setuptools-rust @ file:///dev/shm/branfosj-admin/build-2022a/polars/0.17.12/foss-2022a/setuptoolsrust/setuptools-rust-1.5.2
setuptools-scm @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/setuptools_scm/setuptools_scm-6.4.2
shellingham @ file:///dev/shm/branfosj-admin/build-2022a/poetry/1.2.2/GCCcore-11.3.0/shellingham/shellingham-1.5.0
simplegeneric @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/simplegeneric/simplegeneric-0.8.1
simplejson @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/simplejson/simplejson-3.17.6
six @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/six/six-1.16.0
sklearn @ file:///dev/shm/branfosj-admin/build-2022a/scikitlearn/1.1.2/foss-2022a/sklearn/sklearn-0.0
sklearn-pandas @ file:///dev/shm/branfosj-admin/build-2022a/sklearnpandas/2.2.0/foss-2022a/sklearn-pandas-2.2.0
sniffio @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/sniffio/sniffio-1.3.0
snowballstemmer @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/snowballstemmer/snowballstemmer-2.2.0
sortedcontainers @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sortedcontainers/sortedcontainers-2.4.0
soupsieve @ file:///dev/shm/branfosj-admin/build-2022a/BeautifulSoup/4.10.0/GCCcore-11.3.0/soupsieve/soupsieve-2.3.1
Sphinx @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/Sphinx/Sphinx-4.5.0
sphinx-bootstrap-theme @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxbootstraptheme/sphinx-bootstrap-theme-0.8.1
sphinxcontrib-applehelp @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribapplehelp/sphinxcontrib-applehelp-1.0.2
sphinxcontrib-devhelp @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribdevhelp/sphinxcontrib-devhelp-1.0.2
sphinxcontrib-htmlhelp @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribhtmlhelp/sphinxcontrib-htmlhelp-2.0.0
sphinxcontrib-jsmath @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribjsmath/sphinxcontrib-jsmath-1.0.1
sphinxcontrib-qthelp @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribqthelp/sphinxcontrib-qthelp-1.0.3
sphinxcontrib-serializinghtml @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribserializinghtml/sphinxcontrib-serializinghtml-1.1.5
sphinxcontrib-websupport @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/sphinxcontribwebsupport/sphinxcontrib-websupport-1.2.4
starlette @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/starlette/starlette-0.22.0
starsessions @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/starsessions/starsessions-1.3.0
tabulate @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/tabulate/tabulate-0.8.9
tdigest==0.5.2.2
tensorboardX @ file:///dev/shm/branfosj-admin/build-2022a/tensorboardX/2.5.1/foss-2022a/tensorboardX/tensorboardX-2.5.1
threadpoolctl @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/threadpoolctl/threadpoolctl-3.1.0
tokenizers @ file:///dev/shm/branfosj-admin/build-2022a/Transformers/4.24.0/foss-2022a-CUDA-11.7.0/tokenizers/tokenizers-0.13.3
toml @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/toml/toml-0.10.2
tomli @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/tomli/tomli-2.0.1
tomli_w @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/tomli_w/tomli_w-1.0.0
tomlkit @ file:///rds/projects/b/branfosj-bear-apps/sources/p/poetry/extensions/tomlkit-0.11.6-py3-none-any.whl
torch==1.12.1
torchmetrics @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/torchmetrics/torchmetrics-0.11.1
tqdm @ file:///dev/shm/branfosj-admin/build-2022a/tqdm/4.64.0/GCCcore-11.3.0/tqdm-4.64.0
traitlets @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/traitlets/traitlets-5.8.1
transformers @ file:///dev/shm/branfosj-admin/build-2022a/Transformers/4.24.0/foss-2022a-CUDA-11.7.0/transformers/transformers-4.24.0
typing_extensions @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/typing_extensions/typing_extensions-4.2.0
ujson @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/ujson/ujson-5.2.0
urllib3 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/urllib3/urllib3-1.26.9
virtualenv @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/virtualenv/virtualenv-20.14.1
wcwidth @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/wcwidth/wcwidth-0.2.5
webencodings @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/webencodings/webencodings-0.5.1
websocket-client @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/websocketclient/websocket-client-1.5.1
wrapt @ file:///dev/shm/branfosj-admin/build-2022a/PyTorchLightning/1.9.3/foss-2022a-CUDA-11.7.0/wrapt/wrapt-1.14.1
xlrd @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/xlrd/xlrd-2.0.1
xlsx2csv @ file:///dev/shm/branfosj-admin/build-2022a/polars/0.17.12/foss-2022a/xlsx2csv/xlsx2csv-0.8.1
XlsxWriter @ file:///dev/shm/branfosj-admin/build-2022a/polars/0.17.12/foss-2022a/XlsxWriter/XlsxWriter-3.1.0
yarl @ file:///dev/shm/branfosj-admin/build-2022a/aiohttp/3.8.3/GCCcore-11.3.0/yarl/yarl-1.8.1
zipfile36 @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/zipfile36/zipfile36-0.1.3
zipp @ file:///dev/shm/branfosj-admin/build-2022a/Python/3.10.4/GCCcore-11.3.0/zipp/zipp-3.8.0
